<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Megrim|Nunito+Sans:400,900" rel="stylesheet" />
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
    <div class="top-bg">
        <img class="topbg" src="/images/bg2.png" alt="">
        <img class="paint-blue" src="/images/paintblue.png" alt="">
    </div>



    <div class="header">
        <div class="theme"><i class="fas fa-moon"></i></div>

        <div>HOME</div>
        <div>ABOUT</div>
        <div>portfolio</div>
        <div>Social-Media</div>
        <div>Contact</div>
    </div>




    <div class="container">
        <div class="heading">Projects</div>
        <div class="projects ">
            <div class="title1">web-dev</div>
            <div class="list1 hide"><a href="/home/pig-game" target="_blank">pig game</a></div>
            <div class="list1 hide"><a href="/home/budgety" target="_blank">budgety</a></div>
            <div class="list1 hide"><a href="/home/node-farm" target="_blank">node-farm</a></div>
            <div class="list1 hide"><a href="/home/natours" target="_blank">natours</a></div>
            <div class="title2 ">blender</div>
            <div class="list2 hide"><a href="https://www.behance.net/gallery/100828101/Animated-room"
                    target="_blank">Animated room</a>
            </div>
            <div class="list2 hide"><a href="https://www.behance.net/gallery/113012903/Mars-rover"
                    target="_blank">rocker bogie
                    mechanism</a></div>
        </div>
        <!-- <div class="svg">test</div> -->
        <div class="preview"><img class="toggleImg" src="/images/project.png" alt=""></div>
    </div>





    <div class="sMedia">
        <div>Social-Media</div>
        <a href="https://www.instagram.com/"><i class="sm fab fa-instagram"></i></a>
        <a href="https://github.com/jameschris854/"> <i class="sm fab fa-github"></i></a>
        <a href="https://www.quora.com/profile/James-Christopher-46"><i class="sm fab fa-quora"></i></a>
        <a href="https://discord.com/channels/748116870904676401/760131548514615326"><i
                class="sm fab fa-discord"></i></a>
        <a href="https://www.linkedin.com/in/james-chirstopher-115373186/"><i class="sm fab fa-linkedin-in"></i></a>
    </div>
    <!-- <div class="footer"></div> -->
</body>
<script src="/js/home.js"></script>
<script src="https://kit.fontawesome.com/ff2686f8f1.js" crossorigin="anonymous"></script>

</html>